@import 'vars';

.mainBlock {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 720px;
	height: 100vh;
	padding: 207px 0px 119px;
	overflow: hidden;
	
	@media (max-width: $md3) {
		min-height: 624px;
		padding: 150px 0px 100px;
	}

	@media (max-width: $md4) {
		min-height: 580px;
		margin-bottom: 77px;
		padding: 142px 0px 52px;
	}

	@media (max-width: $md5) {
		min-height: 487px;
	}

	&__title {
		position: relative;
		z-index: 2;
		margin: 0px auto 50px;
		font-size: 96px;
		font-weight: 700;
		line-height: 109%;
		letter-spacing: 1.9px;
		text-align: center;
		color: $white;

		@media (max-width: $md3) {
			font-size: 76px;
		}

		@media (max-width: $md4) {
			font-size: 48px;
		}

		@media (max-width: $md5) {
			margin: 0px auto 40px;
			font-size: 34px;
			line-height: 112%;
			letter-spacing: 0.7px;
		}
	}

	&__text {
		position: relative;
		z-index: 2;
		margin: 0px 304px 50px;
		font-size: 20px;
		line-height: 142%;
		text-align: center;
		color: $white;

		@media (max-width: $md2) {
			margin: 0px 238px 50px;
		}

		@media (max-width: 812px) {
			margin: 0px 200px 50px;
		}

		@media (max-width: $md4) {
			font-size: 18px;
			margin: 0px 200px 50px;
		}

		@media (max-width: 625px) {
			font-size: 16px;
			margin: 0px 120px 50px;
		}

		@media (max-width: $md5) {
			margin: 0px 35px 40px;
		}
	}

	&__button {
		position: relative;
		z-index: 2;
		display: flex;
		justify-content: center;
		align-items: center;
		max-width: 118px;
		min-height: 34px;
		margin: 0px auto;
		padding: 5px 20px;
		font-size: 17px;
		line-height: 142%;
		letter-spacing: -0.2px;
		text-align: center;
		color: $black;
		background-color: $white;
		border-radius: 10px;
		transition: all 0.3s ease 0s;

		@media (max-width: $md5) {
			max-width: 114px;
			min-height: 33px;
			font-size: 16px;
			letter-spacing: -0.2px;
		}

		@media (any-hover: hover) {
			&:hover {
				color: $white;
				background-color: $orange200;
			}
		}
		
		&:active {
			color: $black;
			background-color: $orange100;
		}
	}

	&__bgImageWrapper{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		&::after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: linear-gradient(180deg, rgba(0, 0, 0, 0.40) 0%, rgba(0, 0, 0, 0.00) 39.9%),
									linear-gradient(0deg, rgba(0, 0, 0, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%);
			pointer-events: none;
		}
	}
}
