@import 'vars';

.reviews {
	&__header{
		@media (max-width: $md5) {
			margin-bottom: 50px;
		}
	}

	&__body {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 30px;

		@media (max-width: $md2) {
			gap: 18px;
		}
	}
}

.review {
	flex: 0 1 48.7%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 40px;
	background-color: $beige200;
	border-radius: 50px;

	@media (max-width: $md2) {
		flex: 0 1 48.9%;
	}

	@media (max-width: 928px) {
		flex: 0 1 48%;
	}

	@media (max-width: $md4) {
		flex: 0 1 100%;
		border-radius: 20px;
	}

	@media (max-width: $md5) {
		padding: 20px;
	}

	&__text {
		margin-bottom: 70px;
		font-size: 23px;
		line-height: 122%;
		font-weight: 700;

		@media (max-width: $md5) {
			margin-bottom: 40px;
			font-size: 16px;
			line-height: 142%;
		}
	}

	&__bottom {
		display: flex;
		align-items: center;
		justify-content: space-between;

		@media (max-width: $md5) {
			align-items: end;
		}
	}

	&__name {
		margin-bottom: 8px;
		font-size: 35px;
		font-weight: 500;
		line-height: 122%;

		@media (max-width: $md5) {
			font-size: 23px;
			line-height: 120%;
			letter-spacing: 0.9px;
		}
	}

	&__tour {
		font-size: 17px;
		line-height: 142%;
		letter-spacing: -0.2px;
		color: $gray300;

		@media (max-width: $md5) {
			font-size: 16px;
			line-height: 142%;
		}
	}

	&__photo {
		width: 75px;
		height: 75px;
		border-radius: 100px;

		&_1 {
			background: url(../assets/images/reviews/review_1.jpg) lightgray -21px 0px / 150% 100% no-repeat;
			background-size: cover;
			background-position: center;
		}

		&_2 {
			background: url(../assets/images/reviews/review_2.jpg) lightgray 0px -4.5px / 100% 150% no-repeat;
			background-size: cover;
			background-position: center;
		}
	}
}