$minWidth: 320px;
$maxWidthContainer: 1200px;
$md2: 1280px;
$md3: 992px;
$md4: 767px;
$md5: 480px;


$black: #1B1F2B;
$white: #FFF;
$orange200: #EFA501;
$orange100: #F8E6BE;
$green400: #286562;
$green300: #3B7E7B;
$green200: #627F7E;
$green100: #E0F0E5;
$gray300: #A6A6A6;
$gray200: #D9DFDB;
$gray100: #F1F3F2;
$beige200: #F4F0E9;
$bgColor: #F9F7F4;