@import '../../../../styles/vars';
@import '../../../../styles/mixins';

.mainBlock {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 720px;
  height: 100vh;
  padding: 207px 0px 119px;
  overflow: hidden;

  @include respondToLargeTablet {
    min-height: 624px;
    padding: 150px 0px 100px;
  }

  @include respondToTablet {
    min-height: 580px;
    margin-bottom: 77px;
    padding: 142px 0px 52px;
  }

  @include respondToMobile {
    min-height: 487px;
  }
}

.title {
  position: relative;
  z-index: 2;
  margin: 0px auto 50px;
  font-size: 96px;
  font-weight: 700;
  line-height: 109%;
  letter-spacing: 1.9px;
  text-align: center;
  color: $white;

  @include respondToLargeTablet {
    font-size: 76px;
  }

  @include respondToTablet {
    font-size: 48px;
  }

  @include respondToMobile {
    margin: 0px auto 40px;
    font-size: 34px;
    line-height: 112%;
    letter-spacing: 0.7px;
  }
}

.text {
  position: relative;
  z-index: 2;
  margin: 0px 304px 50px;
  font-size: 20px;
  line-height: 142%;
  text-align: center;
  color: $white;

  @include respondToDesktop {
    margin: 0px 238px 50px;
  }

  @media (max-width: 812px) {
    margin: 0px 200px 50px;
  }

  @include respondToTablet {
    font-size: 18px;
    margin: 0px 200px 50px;
  }

  @media (max-width: 625px) {
    font-size: 16px;
    margin: 0px 120px 50px;
  }

  @include respondToMobile {
    margin: 0px 35px 40px;
  }
}

.button {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 118px;
  min-height: 34px;
  margin: 0px auto;
  padding: 5px 20px;
  font-size: 17px;
  line-height: 142%;
  letter-spacing: -0.2px;
  text-align: center;
  color: $black;
  background-color: $white;
  border-radius: 10px;
  transition: all 0.3s ease 0s;

  @include respondToMobile {
    max-width: 114px;
    min-height: 33px;
    font-size: 16px;
    letter-spacing: -0.2px;
  }

  @media (any-hover: hover) {
    &:hover {
      color: $white;
      background-color: $orange200;
    }
  }

  &:active {
    color: $black;
    background-color: $orange100;
  }
}

.backgroundImageWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.4) 0%,
        rgba(0, 0, 0, 0) 39.9%
      ),
      linear-gradient(0deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%);
    pointer-events: none;
  }
}

.backgroundImg {
  object-fit: cover;
}
