@import '../../../../styles/vars';
@import '../../../../styles/mixins';

.header {
  @include respondToMobile {
    margin: 0px 0px 47px;
  }
}

.body {
  padding: 0px 30px;

  @include respondToDesktop {
    padding: 0px 20px;
  }
}

.row {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 30px;

  @include respondToDesktop {
    gap: 18px;
  }

  @include respondToMobile {
    gap: 10px;
  }

  &:not(:last-child) {
    margin-bottom: 29px;
    @include respondToMobile {
      margin-bottom: 18px;
    }
  }
}

.item {
  position: relative;
  height: 301px;
  border-radius: 50px;

  @include respondToTablet {
    height: 180px;
    border-radius: 30px;
  }

  @include respondToMobile {
    height: 110px;
    border-radius: 20px;
  }
}

.oddRow {
  & div {
    width: 442.5px;

    @include respondToMobile {
      width: 90%;
    }
  }
}

.evenRow {
  & div {
    width: 348px;
  }
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50px;

  @include respondToTablet {
    border-radius: 30px;
  }

  @include respondToMobile {
    border-radius: 20px;
  }
}

._1024none {
  @media (max-width: 1024px) {
    display: none;
  }
}

._360none {
  @include respondToTablet {
    display: none;
  }
}
