@import '../../../../styles/vars';
@import '../../../../styles/mixins';

.header {
  @include respondToMobile {
    margin-bottom: 50px;
  }
}

.body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;

  @include respondToDesktop {
    gap: 18px;
  }
}

.review {
  flex: 0 1 48.7%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px;
  background-color: $beige200;
  border-radius: 50px;

  @include respondToDesktop {
    flex: 0 1 48.9%;
  }

  @media (max-width: 928px) {
    flex: 0 1 48%;
  }

  @include respondToTablet {
    flex: 0 1 100%;
    border-radius: 20px;
  }

  @include respondToMobile {
    padding: 20px;
  }
}

.text {
  margin-bottom: 70px;
  font-size: 23px;
  line-height: 122%;
  font-weight: 700;

  @include respondToMobile {
    margin-bottom: 40px;
    font-size: 16px;
    line-height: 142%;
  }
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include respondToMobile {
    align-items: end;
  }
}

.name {
  margin-bottom: 8px;
  font-size: 35px;
  font-weight: 500;
  line-height: 122%;

  @include respondToMobile {
    font-size: 23px;
    line-height: 120%;
    letter-spacing: 0.9px;
  }
}

.tour {
  font-size: 17px;
  line-height: 142%;
  letter-spacing: -0.2px;
  color: $gray300;

  @include respondToMobile {
    font-size: 16px;
    line-height: 142%;
  }
}

.photo {
  position: relative;
  width: 75px;
  height: 75px;
  border-radius: 100px;

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 100px;
  }
}
